@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200&display=swap');

:root {
    --primary-color: #3F88C5;
    --secondary-color: #FFBA08;
    --accent1-color: #D00000;
    --accent2-color: #A2AEBB;

    --heading-font: 'Bebas Neue',sans-serif;
    --paragraph-font: 'Dosis',sans-serif;

    --nav-background-color: #A2AEBB;
    --nav-link-color: #D00000;
    --nav-hover-link-color: #FFBA08;
    --nav-hover-background-color: #3F88C5;
}

h1, h2, h3, h4, h5, h6 {
    font-family:var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 10px;
    font-size: 1.1rem;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 10px;
    margin: auto;
}

nav {
    /* background-color: var(--nav-background-color); */ 
    background-color: white; 
    font-size: 1.5rem;
    display: flex;
    grid-column: 2/4;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    flex: 1 1 100%;
}

nav a:link, nav a:visited {
    /* color: var(--nav-link-color) */
    color: black;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    border-radius: 10px;
}

header {
    padding: 30px;
    background-color: var(--secondary-color);
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

header img {
    grid-column: 1/2;
}

div {
    position: relative;
}

/* footer {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
}

footer p {
    grid-column: 1/4;
}

footer img {
    grid-column: 4/5;
    max-width: 50px;
    height: auto;
    align-self: flex-end;
} */

/* .div-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-footer-copyright {
    justify-content: center;
} */

.div-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.div-footer-copyright {
    grid-column: 2/3;
}

.div-footer div {
    align-self: flex-end;
    justify-self: flex-end;
}

.div-footer-socials {
    /* align-self: flex-end; */
    grid-column: 3/4;
    /* align-items: center;
    justify-content: center; */
}

.div-footer-socials a img{
    max-width: 50px;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* .hero article {
    background-color:rgba(0,0,0,0.4)
} */

.hero article {
    position: absolute;
    top: 220px;
    right: 15px;
    color: var(--primary-color);
    max-width: 400px;
    background-color:rgba(0,0,0,0.4)
}

.hero h1 {
    position: absolute;
    top: 35px;
    right: 35px;
    color: var(--secondary-color);
}
.hero .happy-client {
    float: right;
    width: 150px;
    height: auto;
    padding-top: 45px;
    /* top: 400px; */
    /* position: absolute; */
}

.section-history {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-history h2 {
    /* grid-column: 1/2; */
    padding: 5px;
}
.section-history p {
    /* grid-column: 2/3; */
    padding: 0px;
    margin: 0px;
}

.div-adventure {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-evenly; */
}

h2 {
    text-align: center;
}

.div-adventure figure {
    padding: .2em;
    margin: 0px;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.div-adventure figcaption {
    align-self: center;
    position: absolute;
    bottom: 0;
    padding-top: .2em;
    /* display: flex; */
}

.div-adventure img {
    /* min-width: 50px;
    max-width: 100px; */
    max-height: 80%;
    max-width: 100%;
    width: auto;
    display: flex;
}

.contact-grid {
    display: grid;
    grid-template-areas:
        'form form contact'
        'form form contact'
        'empl empl empl';
    gap: 10px;
    padding: 10px;
}

.contact-info-parts {
    display: grid;
    grid-template-areas:
        'map'
        'map'
        'map'
        'addr'
        'email'
        'phone'
}

.contact-info-part-map {
    grid-area: map;
    margin: auto;
    border: 1px solid var(--primary-color);
}

.contact-info-part-addr {
    grid-area: addr;
}

.contact-info-part-email {
    grid-area: email;
}

.contact-info-part-phone {
    grid-area: phone;
}

.emp-grid {
    display: grid;
    grid-template-areas:
        'emp1 emp2 emp3';
    justify-content: center;
    align-items: center;
    text-align: center;
}

.emp1 {
    grid-area: emp1;
}

.emp1 figure img {
    width: 200px;
    height: auto;
}

.emp2 {
    grid-area: emp2;
}

.emp2 figure img {
    width: 200px;
    height: auto;
}

.emp3 {
    grid-area: emp3;
}

.emp3 figure img {
    width: 200px;
    height: auto;
}

.grid-item {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

.form {
    grid-area: form;
}

.contact-info {
    grid-area: contact;
}

.employees {
    grid-area: empl;
}

#contact-us {
    text-align: center;
    margin: 0px;
    padding: .5rem;
}

#contact-main {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.grid-item h2 {
    margin: 0;
    padding: .5rem;
}

.grid-item p {
    margin: 0;
    padding: .5rem;
    text-align: center;
}

.form-grid {
    display: grid;
    grid-template-areas:
        'q1 q2'
        'q3 q4'
        'msg msg'
        'radio checkbox'
        'submit submit';
    /* gap: 10px; */
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    margin: .5rem;
    align-items: center;
    justify-content: center;
}

.form-parts {
    /* border: 1px solid var(--primary-color);
    border-radius: 10px; */
    padding: .5rem;
}

.form-q1 {
    grid-area: q1;
}

.form-q2 {
    grid-area: q2;
}

.form-q3 {
    grid-area: q3;
}

.form-q4 {
    grid-area: q4;
}

.form-msg {
    grid-area: msg;
}

.form-radios {
    grid-area: radio;
}

.form-checkbox {
    grid-area: checkbox;
}

.form-submit {
    grid-area: submit;
    margin: auto;
}

.form-submit button {
    /* background-color: var(--nav-background-color); */
    background-color: white;
    /* color: var(--nav-link-color); */
    color: var(--primary-color);
    font-size: 1.5rem;
    font-family: var(--paragraph-font);
    border-radius: 10px;
}

.form-submit button:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.form-grid label {
    text-align: left;
    display: block;
    padding: .5rem;
}

.form-grid input {
    display: block;
    padding: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    width: 80%;
}

.form-msg textarea {
    width: 94%;
    margin-left: .5rem;
    margin-right:.5rem;
}

.form-radios fieldset {
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}

.contact-info-part-map iframe {
    border:0;
}

.call-to-action {
    /* margin: auto; */
    text-align: center;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    margin-top: .5rem;
    align-items: center;
    justify-content: center;
    display: grid;
    color: var(--primary-color);
    /* padding-bottom: 20px; */
}

.call-to-action p {
    font-size: 1.5rem;
    padding: .5rem;
    margin: .5rem;
}

.cta-button {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    font-size: 2rem;
    width: 25%;
    align-self: center;
    justify-self: center;
    padding: .5rem;
    color: black;
    background-color: white;
}

.cta-button a:hover {
    color: black;
    /* background-color: var(--secondary-color); */
}

/* .cta-button a:visited {
    color: black;
    background-color: white;
} */

.all-trips-table table {
    /* justify-self: center; */
    align-self: center;
    border-collapse: collapse;
}

.all-trips-table tr {
    border-bottom: 1px solid var(--primary-color);
}

.all-trips-table .no-row-border {
    border-bottom: none;
}

.all-trips-table th {
    padding: .8rem;
    text-align: left;
}

.all-trips-table td {
    padding: .8rem;
}

.feat-trip-grid {
    display: grid;
    grid-template-areas:
        'feat-trips'
        'all-trips';
    gap: 10px;
    /* padding: 10px; */
    padding-top: .5rem;
    align-items: center;
    justify-content: center;
}

.feat-trip-grid p {
    text-align: left;
}

.all-trips-table {
    /* padding: 10px; */
    padding-top: .5rem;
    grid-area: all-trips;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    /* width: 100%;
    height: 100%; */
}

.all-trips-table h1 {
    text-align: center;
}

.all-trips-table table {
    margin: auto;
}

.all-trips-table th {
    font-size: larger;
}

.feat-trips {
    grid-area: feat-trips;
}

.feat-trips h1 {
    text-align: center;
}

.feat-trips-grid {
    display: grid;
    /* grid-template-areas:
        'trip1 trip2 trip3';*/
    grid-template-areas:
        'trip1-img trip1-descr trip1-descr'
        'trip2-descr trip2-descr trip2-img'
        'trip3-img trip3-descr trip3-descr';
    justify-content: center;
    align-items: center;
    text-align: center;
}

.trip1-img {
    grid-area: trip1-img;
    margin: 0;
}

.trip1-img figure img {
    width: 350px;
    height: auto;
}

.trip1-descr {
    grid-area: trip1-descr;
    margin: 0;
}

.trip1-descr p {
    padding-right: 1.5rem;
}

.trip2-img {
    grid-area: trip2-img;
    margin: 0;
}

.trip2-img figure img {
    width: 350px;
    height: auto;
}

.trip2-descr {
    grid-area: trip2-descr;
    margin: 0;
}

.trip2-descr p {
    padding-left: 1.5rem;
}

.trip3-img {
    grid-area: trip3-img;
    margin: 0;
}

.trip3-img figure img {
    width: 350px;
    height: auto;
}

.trip3-descr {
    grid-area: trip3-descr;
    margin: 0;
}

.trip3-descr p {
    padding-right: 1.5rem;
}

.trip1 {
    grid-area: trip1;
    margin: 0;
}

.trip1 figure img {
    width: 200px;
    height: auto;
}


.trip2 {
    grid-area: trip2;
    margin: 0;
}

.trip2 figure img {
    width: 200px;
    height: auto;
}

.trip3 {
    grid-area: trip3;
    margin: 0;
}

.trip3 figure img {
    width: 200px;
    height: auto;
}

/*img {
    float: right;
    width: 150px;
    height: auto;
}*/