nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    margin:10px;
    border:1px;
    padding:10px;
    background-color: #9BC1BC;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin:10px;
    text-align:center;
    border-top:1px;
}